<li>
  <% if user.avatar.present? %>
  <%= image_tag @user.avatar.url(:thumb) %>
  <% end %>
  <%= link_to user.firstName + ' ' + user.lastName, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>