<%= link_to image_tag(current_user.avatar.url(:thumb)), current_user.avatar.url %>
<h1><%= current_user.firstName %></h1>
<span><%= link_to "View my profile", current_user %></span>
<span><%= pluralize(current_user.post.count, "Textbook Posts") %></span>