<% provide(:title, "Hello") %>
<h1>Hello</h1>

<h2>Welcome to the College Market! Our mission is to provide a simple & convenient way for you to buy, sell and request goods and services amongst your fellow students!</h2>


